body {
  background-color: #e0f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.calculator {
  background-color: #f7aef4f9;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(210, 42, 42, 0.3);
  width: 260px;
}

#display {
  width: 100%;
  height: 50px;
  font-size: 28px;
  text-align: right;
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #e3f6fd;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 60px;
  font-size: 24px;
  background-color: #12020f;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background-color: #0d47a1;
}
